{% extends "base.html" %}

{% block content %}

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form class="form-horizontal" method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}

        <fieldset>

            <div class="control-group" id="username_field">
                <label class="control-label" for="currentUsername">{{ form.username.label_tag }}</label>
                <div class="controls">
                    <input type="username" id="currentUsername" name="username" class="input-xlarge">
                </div>
            </div>

            <div class="control-group" id="password_field">
                <label class="control-label" for="currentPassword">{{ form.password.label_tag }}</label>
                <div class="controls">
                    <input type="password" id="currentPassword" name="password" class="input-xlarge">
                    <span class="help-block"></span>
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>

        </fieldset>

        <input type="hidden" name="next" value="{{ next }}" />
    </form>

{% endblock %}