{% extends "base.html" %}

{% block content %}

    <script type="text/javascript">$(document).ready(function() {
        $('#search_row').get(0).value =
                window.location.pathname + window.location.search;
        if ((window.location.search.length) == 0) {
            $('#search_row').get(0).value += "?"
        }
        $('#search_row').keyup(function(event) {
            if(event.keyCode == 13){
                $("#search_button").get(0).click();
            }
        });
        $("#search_button").get(0).onclick = function() {
            window.location.href = window.location.origin +
                    $('#search_row').get(0).value;
        };
        $('#search_row').focus();
    });</script>

    <p>Add some filter parameters, separated by <b>&</b> in the input below. Use object attribute names with
        lookups to filter for certain attribute values, like:</p>

    <p><b>/block/?index=5&description__icontains=electrode</b></p>

    <div class="row">
        <div class="input-group">
            <input type="text" class="form-control" id="search_row">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="search_button">Go!</button>
              </span>
        </div><!-- /input-group -->
    </div><!-- /.row -->

    <p></p>

    {% if selected %}

        <!-- list with objects -->

        {% include "list_widget.html" %}

        <!-- paginator for list -->

        {% if previous or next %}
        <ul class="pagination">

            {% if previous %}
                <li><a href="{{ previous }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><a href="#">&laquo;</a></li>
            {% endif %}

            {% if pre_previous %}
                <li><a href="{{ pre_previous }}">{{ current_page_num|add:-2 }}</a></li>
            {% endif %}

            {% if previous %}
                <li><a href="{{ previous }}">{{ current_page_num|add:-1 }}</a></li>
            {% endif %}

            <li class="active"><a href="#">{{ current_page_num }} <span class="sr-only">(current)</span></a></li>

            {% if next %}
                <li><a href="{{ next }}">{{ current_page_num|add:1 }}</a></li>
            {% endif %}

            {% if post_next %}
                <li><a href="{{ post_next }}">{{ current_page_num|add:2 }}</a></li>
            {% endif %}

            {% if next %}
                <li><a href="{{ next }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><a href="#">&raquo;</a></li>
            {% endif %}
        </ul>
        {% endif %}

    {% else %}

        <p>There are no result for this filter or you don't have any saved documents yet.</p>
        <p>If you just started, use one of the Clients for
            <a href="https://github.com/G-Node/gnode-client-matlab/wiki" target="_blank">Matlab</a> or
            <a href="http://g-node.github.io/python-gnode-client/" target="_blank">Python</a>
            to create metadata documents or upload datasets.
        </p>

    {% endif %}

{% endblock %}